@model GestorPassword.Core.Application.ViewModel.User.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="d-flex justify-content-center align-items-center" >
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1 class="card-title text-center">CAMBIANDO CONTRASEÑA</h1>
            <h4 class="card-subtitle text-center mb-4">INTRODUZCA SU NUEVA CONTRASEÑA</h4>
            <hr />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @if (Model.HasError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>@Model.Error</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Token" />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br /><br />
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
